/* ============================================
   ГЛОБАЛЬНЫЕ СТИЛИ
   ============================================ */

/* Растягиваем html и body на всю высоту экрана,
   чтобы фон занимал весь viewport даже на коротких страницах */
html,
body {
  min-height: 100vh;
} 



/* BODY — базовые стили всего сайта */
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: var(--font-size-body-l);
  line-height: 1.5;
  color: var(--color-content-primary);

  /* Основной градиент-фон */
  background: var(--gradient-primary);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding-top: 20px;
  background: var(--gradient-bloom);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: top center;
}

/* Типографика */

h1 {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-size-h1);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-content-primary);
}

h2 {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-size-h2);
  font-weight: 700;
  line-height: 1.2;
  color: var(--color-content-primary);
}

h3 {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-size-h3);
  font-weight: 600;
  line-height: 1.2;
  color: var(--color-content-primary);
}

/* Заголовок карточек */
.card__title {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-size-card);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-content-primary);
}

/* Текст кнопок в header */
.header__link {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-size-header);
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--color-content-primary);
}

/* Параграф - стандартный блок текста */
p {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-size-body-l);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-content-primary);
}

/* Класс для текста карточек, FAQ, новостей, некоторых элементов интерфейса */
.text-body-m {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-size-body-m);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-content-primary);
}

/* Класс для текста для дат, подписей и вторичной информации */
.text-body-s {
  font-family: "Manrope", sans-serif;
  font-size: var(--font-size-body-s);
  font-weight: 400;
  line-height: 1.5;
  color: var(--color-content-primary);
}

.main {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

/* Стиль header */
.header {
  overflow: visible;
  position: sticky;
  top: 20px
  z-index: 100;
  border-radius: 20px;
  background: var(--color-glass-header-default-fill);
  box-shadow:
    inset 0 0 0 1px var(--color-glass-header-default-stroke),
    var(--shadow-header-default);
} 

.header--scrolled {
  background: var(--color-glass-header-scroll-fill);
  box-shadow:
    inset 0 0 0 1px var(--color-glass-header-scroll-stroke),
    var(--shadow-header-scroll);
} 

/* Компоненты header */ 

.header__container {
  display: flex;
  align-items: center;
  gap: 240px;
  height: 140px;
}

.header__logo img {
  height: 140px;
  width: auto;
  display: block;
}

.header__nav {
  display: flex;
  align-items: center;
  gap: 40px;
}

.header__link {
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header__link:hover {
  opacity: 0.7;
}